.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;

}

.logo-container img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.right-header nav {
    position: relative;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-bottom: 2px solid transparent;

}


.right-header nav:hover {
    border-bottom: 2px solid white;
}

.right-header nav .dropdown-menu {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    height: 250px;
    width: 200px;
    padding: 10px 0;
    z-index: 10;
    height: fit-content;
}

.right-header nav .dropdown-menu div {
    padding: 8px;
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: left;
}

.right-header nav .dropdown-menu div:hover {
    background-color: #555;
}

.right-header nav:hover .dropdown-menu {
    display: block;
}

.hamburger {
    display: none;
}

.hamburger img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 920px) {
    .hamburger {
        display: flex;
    }

    .right-header {
        display: none;
    }
}