.rpa-section {
    min-height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    color: white;
    padding: 50px 15%;
    gap: 40px;
    flex-wrap: wrap;
}

.rpa-text {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    font-weight: 500;
}

.rpa-text h2 {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.rpa-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #dcdcdc;
}

.rpa-card {
    flex: 1;
    max-width: 300px;
    height: 450px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}



.rpa-img {
    width: 100%;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}

.rpa-img:hover {
    opacity: 0.8;
}

.rpa-card-content {
    background-color: white;
    color: rgb(170, 166, 166);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.rpa-card-content:hover {
    background-color: #222;
    color: black;
}


.rpa-card-content h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 500px;
}

.rpa-card-content p {
    font-size: 1rem;
    line-height: 1.5;
}


@media screen and (max-width: 920px) {
    .rpa-section {
        flex-direction: column;
        text-align: center;
    }

    .rpa-text {
        text-align: center;
    }

    .rpa-card {
        max-width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .rpa-section {
        padding: 10px 2px;
    }

    .rpa-text h2 {
        font-size: 1.8rem;
    }

    .rpa-card-content p {
        font-size: 1rem;
    }
}